/* === DEFAULTS === */

/* COLOR PALETTE VARIABLES - USE THESE VARIABLES IN PLACE OF HEX CODE THROUGHOUT TO ALLOW EASY ADJUSTMENT LATER */

:root {
  --fidil-dark-blue: #0378a6;
  --fidil-light-blue: #04b2d9;
  --fidil-orange: #f26c05;
  --fidil-light-red: #d93d04;
  --fidil-dark-red: #a6290d;
  --fidil-white: #ffffff;
  --fidil-off-white: rgba(255, 255, 255, 0.6);
  --fidil-light-grey: #909090;
  --fidil-neutral-grey: #707070;
  --fidil-black: #000000;
}

/* GLOBAL LAYOUT STYLES - SET CANVAS COLOUR, MIN SIZE, AND MAX IMG SIZE */

html {
  background-color: var(--fidil-orange);
}

body {
  min-width: 320px;
}

img {
  max-width: 100%;
}

/* GLOBAL TYPOGRAPHY STYLES - SITE WIDE DEFAULTS */

h2,
h3,
.nav-item,
.footer-link,
.read-more-link {
  font-family: century-gothic, arial, sans-serif;
}

h3,
.nav-item,
.footer-link,
.read-more-link {
  text-transform: uppercase;
}

h2,
.footer-link,
.read-more-link {
  color: white;
}

h3,
.footer-link {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

h3 {
  color: var(--fidil-light-red);
  font-size: 1.75rem;
}

p {
  color: var(--fidil-black);
  font-family: minion-pro;
  font-size: 1rem;
  line-height: 2rem;
}

.nav-item {
  font-size: 1.25rem;
}

/* LINK PSEUDO CLASS TYPOGRAPHY COLORS */

.navbar-dark .navbar-nav .nav-link,
.footer-link {
  color: var(--fidil-off-white);
}

.navbar-dark .navbar-nav .nav-link:hover,
.footer-link:hover {
  color: var(--fidil-white);
}

.navbar-dark .navbar-nav .nav-link:active {
  color: var(--fidil-orange);
}

.footer-link:hover {
  text-decoration: none;
}

.footer-link:active {
  color: var(--fidil-light-blue);
  text-decoration: none;
}

.navbar-dark .navbar-nav .active>.nav-link {
  color: var(--fidil-white);
}

/* === MOBILE FIRST STYLES === */

/* HEADER & NAVBAR POSITIONING & COLOR */

header {
  padding: 16px 0;
  background-color: var(--fidil-light-blue);
  border-bottom: 2px solid var(--fidil-dark-blue);
}

nav.navbar {
  justify-content: space-around;
}

/* NAV ITEMS POSITIONING & STYLES */

header .nav-link {
  margin: 0;
}

header .nav-item {
  border-top: 2px solid var(--fidil-dark-blue);
  padding: 16px 0;
  text-align: center;
}

header .nav-item.last {
  padding-bottom: 0;
}

.navbar-collapse {
  margin-top: 16px;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

/* FOOTER LAYOUT & STYLING */

footer {
  background-color: var(--fidil-light-red);
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  justify-items: center;
}

footer li {
  margin: 48px 20px;
}

footer img {
  margin-bottom: 48px;
}

/* HIDE IMAGE ON PHONE LAYOUT */
.hero-image {
  display: none;
}

/* HERO CONTENT SIZING & ALIGNMENT */

.hero-container {
  background-image: linear-gradient(var(--fidil-light-blue),
      var(--fidil-black));
  min-height: 90vh;
  display: grid;
  justify-content: center;
  align-content: center;
  min-width: 320px;
}

.hero-logo {
  width: 50vw;
  text-align: center;
  min-width: 160px;
  max-width: 320px;
}

.hero-logo h2 {
  margin-top: 32px;
}

/* MAIN CONTENT - SITE WIDE STYLES */

.pattern {
  display: none;
}

.card {
  border: none;
}

picture img {
  width: 100%;
}

.card>h3 {
  margin: 40px 40px 0 40px;
  text-align: center;
}

.card>p {
  margin: 16px 40px 0 40px;
  text-align: justify;
}

.card-button {
  background-color: var(--fidil-orange);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin: 24px 40px 54px;
  height: 56px;
}

.card-button:hover {
  background-color: var(--fidil-light-red);
  text-decoration: none;
}

.card-button>p {
  grid-column: 1 / span 1;
  margin: 0;
}

.card-button>img {
  grid-row: 1;
  grid-column: 2 / span 1;
  z-index: 2;
}

.red {
  grid-column: 2 / span 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--fidil-light-red);
}

/* Additional styles for Instruments, Dances, History Pages */

.page-heading,
.secondary-image {
  display: none;
}

/* === TABLET LAYOUT BREAKPOINT === */

@media only screen and (min-width: 788px) {
  /* HEADER RECONFIGURATION TO CENTER COLUMN */

  header {
    display: grid;
    grid-template-columns: 1fr 788px 1fr;
  }

  nav {
    grid-column-start: 2;
  }

  /* NAV ITEMS RESTYLING */
  header .nav-item {
    border-top: none;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 32px;
  }

  .navbar-collapse {
    margin: 0;
  }

  /* NAVBAR EXPAND CUSTOM BREAKPOINT */
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  /* FOOTER RECONFIGURATION TO CENTER COLUMN */

  footer {
    display: grid;
    grid-template-columns: 1fr 788px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: left;
    padding: 64px 0;
  }

  .footer-nav,
  .footer-logo {
    grid-column: 2;
    grid-row: 1;
  }

  footer img {
    margin-bottom: 0;
  }

  .footer-logo {
    justify-self: right;
  }

  footer .nav-item {
    margin: 0 48px 0 0;
  }

  /* HERO SECTION - SHOW IMAGE ON TABLET & WEB */

  .hero-image {
    display: block;
  }


  /* CARD CONTAINER RECONFIGURATION - 2 CARDS PER LINE */

  main {
    position: relative;
    background-image:
      linear-gradient(var(--fidil-black), var(--fidil-light-blue));
    display: grid;
    grid-template-columns: 1fr 788px 1fr;
    grid-template-rows: 1fr;
    padding: 140px 0 0 0;
  }

  .card>h3 {
    margin: 40px 80px 20px;
  }

  .card-container-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;


  }

  .card-container-home .card {
    width: 45%;
    margin: 0 2.5% 80px 2.5%;
    padding-bottom: 120px;

  }

  /* OVERLAY SVG PATTERNED BACKGROUND */
  .pattern {
    display: inline;
    grid-column: 1 / span 3;
    position: absolute;
    mix-blend-mode: overlay;
  }

  /* REPOSITION READ MORE BUTTON */

  .card-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 32px;
    width: 200px;
  }

  /* ADJUST LAYOUT FOR INSTRUMENTS AND DANCE PAGE */

  .content-instruments,
  .content-dances,
  .content-history {
    justify-items: center;
  }

  .page-heading {
    display: block;
  }

  .page-heading,
  .card-instruments,
  .card-dances,
  .card-history {
    grid-column: 2;
  }

  .card-instruments,
  .card-dances,
  .card-history {

    padding-bottom: 120px;
    margin: 80px;
  }

  .card-instruments>p,
  .card-dances>p,
  .card-history>p {
    margin: 0 80px;
  }
}

/* === WEB LAYOUT BREAKPOINT === */

@media (min-width: 1366px) {

  /* CENTER COLUMN DIMENSIONS RECONFIG */
  header {
    grid-template-columns: 1fr 1366px 1fr;
    grid-column: 1 span3;
  }

  footer {
    grid-template-columns: 1fr 1366px 1fr;
  }

  /* CARD CONTAINER RECONFIGURATION - 3 CARDS PER LINE */

  .card-container-home .card {
    width: 32%;
    margin: 0;
  }

  main {
    grid-template-columns: 1fr 1366px 1fr;
  }

  .card-container-home {
    justify-content: space-between;
    margin-bottom: 80px;
  }

  /* ADJUST LAYOUT FOR INSTRUMENTS, DANCE, HISTORY PAGE */

  .card-instruments>picture,
  .card-dances>picture,
  .card-history>picture {
    position: absolute;
    left: 0;
  }

  .card-instruments h3,
  .card-dances h3,
  .card-history h3 {
    margin: 80px 0 40px 0;
  }

  .card-instruments,
  .card-dances,
  .card-history {
    padding: 0 5% 120px 45%;
    height: 823px;
  }

  .card-instruments p,
  .card-dances p,
  .card-history p {
    margin: 0;
  }


  /* HISTORY SECTION - SHOW SECONDARY IMAGE ON WEB */

  .secondary-image {
    display: inline;
  }

  /* FURTHER ADJUSTMENTS FOR LAYOUT HISTORY PAGE */

  .history-card-images {
    position: absolute;
    right: 0;
    width: 50%;
  }

  .card-history {
    padding: 0 50% 0 5%;
    height: 802px;
  }

  .card-history>picture>img {
    height: 401px;
  }

  .card-history a {
    right: 50%;
  }
}