/* COLOR PALETTE & FONT STYLES */
:root {
    --fidil-dark-blue: #0378A6;
    --fidil-light-blue: #04B2D9;
    --fidil-orange: #F26C05;
    --fidil-light-red: #D93D04;
    --fidil-dark-red: #A6290D;
    --fidil-white: #FFFFFF;
    --fidil-off-white: #F0F0F0;
    --fidil-light-grey: #909090;
    --fidil-neutral-grey: #707070;
    --fidil-black: #000000;
}

html {
    background-color: var(--fidil-orange);
}

img {
    max-width: 100%;

}

header,
main,
footer {
    display: grid;
    grid-template-columns: 1fr 1366px 1fr;
}

header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--fidil-light-blue);
    grid-column: 1 span3;
    border-bottom: 2px solid var(--fidil-dark-blue);
}

nav {
    grid-column-start: 2;
}

nav a {
    color: var(--fidil-white);
    margin-left: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    color: var(--fidil-orange);
}

svg:hover {
    color: var(--fidil-orange)
}

h2 {
    color: var(--fidil-white);
    text-align: center;
    font-family: century-gothic;
    font-size: 48px;
}

h3 {
    color: var(--fidil-light-red);
    text-transform: uppercase;
    font-weight: bold;
    font-family: century-gothic;
    font-size: 32px;
}


p {
    color: var(--fidil-black);
    font-family: minion-pro;
    font-size: 16px;
    line-height: 32px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1366px 1fr;
    grid-template-rows: 100vh;
    justify-items: center;
    overflow: hidden;
}

.hero-logo {
    grid-row: 1;
    grid-column-start: 2;
    align-self: center;
}

.hero-logo img {
    padding-left: 60px;
    padding-bottom: 60px;
}

.hero-background {
    grid-row: 1;
    grid-column: 1 / span 3;
    background-image:
        linear-gradient(var(--fidil-light-blue), var(--fidil-black));
    min-width: 100%;
}

.hero-image {
    grid-row: 2;
    grid-column: 1 / span 3;

}

main {
    grid-column: 2 / span 1;
    background-image:
        linear-gradient(var(--fidil-black), var(--fidil-light-blue));
    color: white;
    position: relative;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 2;
    justify-content: space-between;
    margin: 120px 0;
}

.card {
    width: 440px;
    text-align: center;
    display: grid;
    align-content: flex-start;
    grid-template-rows: 354px auto auto 50px 32px;
    grid-template-columns: 10% 1fr 1fr 10%;
    border-radius: 0;
}

.card img {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

.card h3 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    margin-top: 16px;
}

.card>p {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    height: 400px;
}

.card .button-row {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    background-color: var(--fidil-orange);
    width: 200px;
    display: grid;
}

.card .button {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px 40px;
    align-items: center;
    position: relative;
}

.button .red {
    height: 100%;
    grid-column: 2 / span 1;
    background: var(--fidil-light-red);
    width: 100%;
    position: absolute;
    z-index: 1;

}

.button:hover>.red {
    grid-column: 1/ span 2;
}

.button-row a {
    text-decoration: none;
}



.button p {
    grid-column: 1/span 1;
    color: var(--fidil-white);
    font-family: century-gothic;
    margin: 0;
    z-index: 2;

}

.button img {
    grid-column: 2 / span 1;
    z-index: 2;
}



.pattern {
    grid-column: 1 / span 3;
    height: 100%;
    position: absolute;
    mix-blend-mode: overlay;
}



footer {
    background-color: var(--fidil-light-red);
    align-content: center;
    padding: 120px 0;
    border: solid 2px var(--fidil-dark-red);
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.footer-content {
    grid-column: 2/span 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer-content a {
    color: var(--fidil-white);
    font-family: century-gothic;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 48px;

}

.footer-content a:hover {
    color: var(--fidil-dark-blue);
    text-decoration: none;
}