/* COLOR PALETTE & FONT STYLES */
:root {
    --fidil-dark-blue: #0378A6;
    --fidil-light-blue: #04B2D9;
    --fidil-orange: #F26C05;
    --fidil-light-red: #D93D04;
    --fidil-dark-red: #A6290D;
    --fidil-white: #FFFFFF;
    --fidil-off-white: #F0F0F0;
    --fidil-light-grey: #909090;
    --fidil-neutral-grey: #707070;
    --fidil-black: #000000;
}

html {
    background-color: var(--fidil-orange);
}

img {
    max-width: 100%;

}

header,
main,
footer {
    display: grid;
    grid-template-columns: 1fr 1366px 1fr;
}

/* HEADER STYLES */

header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--fidil-light-blue);
    grid-column: 1 span3;
    border-bottom: 2px solid var(--fidil-dark-blue);
}

nav {
    grid-column-start: 2;
}

nav a {
    color: var(--fidil-white);
    margin-left: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    color: var(--fidil-orange);
}

svg:hover {
    color: var(--fidil-orange)
}

/* GENERAL FONT STYLES */

h2 {
    color: var(--fidil-white);
    text-align: center;
    font-family: century-gothic;
    font-size: 48px;
}

h3 {
    color: var(--fidil-light-red);
    text-transform: uppercase;
    font-weight: bold;
    font-family: century-gothic;
    font-size: 32px;
}


p {
    color: var(--fidil-black);
    font-family: minion-pro;
    font-size: 16px;
    line-height: 32px;
}


/* HOME PAGE STYLES */
.hero {
    display: grid;
    grid-template-columns: 1fr 1366px 1fr;
    grid-template-rows: 100vh;
    justify-items: center;
    overflow: hidden;
}

.hero-logo {
    grid-row: 1;
    grid-column-start: 2;
    align-self: center;
    text-align: center;
}

.hero-logo img {
    padding-left: 4%;
    padding-bottom: 60px;
    ;
}

.hero-background {
    grid-row: 1;
    grid-column: 1 / span 3;
    background-image:
        linear-gradient(var(--fidil-light-blue), var(--fidil-black));
    min-width: 100%;
}

.hero-image {
    grid-row: 2;
    grid-column: 1 / span 3;

}

main {
    grid-column: 2 / span 1;
    position: relative;
}

.main-home {
    background-image:
        linear-gradient(var(--fidil-black), var(--fidil-light-blue));
    color: white;
}

.main-secondary {
    background-color: var(--fidil-light-blue);

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 2;
    justify-content: space-between;
    margin: 120px 0;
}

.card {
    width: 440px;
    text-align: center;
    display: grid;
    align-content: flex-start;
    grid-template-rows: 354px auto auto 50px 32px;
    grid-template-columns: 10% 1fr 1fr 10%;
    border-radius: 0;
}

.card img {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

.card h3 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    margin-top: 16px;
}

.card>p {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    height: 400px;
}

.card .button-row {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    background-color: var(--fidil-orange);
    width: 200px;
    display: grid;
}

.card .button {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px 40px;
    align-items: center;
    position: relative;
}

.button .red {
    height: 100%;
    grid-column: 2 / span 1;
    background: var(--fidil-light-red);
    width: 100%;
    position: absolute;
    z-index: 1;

}

.button:hover>.red {
    grid-column: 1/ span 2;
}

.button-row a {
    text-decoration: none;
}



.button p {
    grid-column: 1/span 1;
    color: var(--fidil-white);
    font-family: century-gothic;
    margin: 0;
    z-index: 2;

}

.button img {
    grid-column: 2 / span 1;
    z-index: 2;
}



.pattern {
    grid-column: 1 / span 3;
    height: 100%;
    position: absolute;
    mix-blend-mode: overlay;
}


/* FOOTER STYLES */

footer {
    background-color: var(--fidil-light-red);
    align-content: center;
    padding: 120px 0;
    border: solid 2px var(--fidil-dark-red);
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.footer-content {
    grid-column: 2/span 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer-content a {
    color: var(--fidil-white);
    font-family: century-gothic;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 48px;

}

.footer-content a:hover {
    color: var(--fidil-dark-blue);
    text-decoration: none;
}



/* SECONDARY PAGE STYLES */

h2 {
    grid-column: 1 / span 3;
    margin: 60px;
}

.secondary-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 2;
    row-gap: 60px;
    margin-bottom: 60px;
}


.secondary-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 160px auto 50px 60px;
    background-color: white;
    z-index: 2;
}


.secondary-card>img {
    grid-row: 1 / span 4;
    grid-column: 1 / span 1;
}


.secondary-card>h3 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    text-align: center;
    padding: 80px 0 48px 0;
}

.secondary-card>p {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    padding: 0 120px;
    text-align: center;

}

/* HISTORY PAGE STYLES */
.history-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    row-gap: 60px;
    margin-bottom: 60px;
}


.history-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
    background-color: white;
    z-index: 2;
}

.history-card-images {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.primary-image {
    grid-row: 1;

}

.secondary-image {
    grid-row: 2;
}

.history-card-content {
    grid-column: 1;
    grid-row: 1;

}

.history-card-content>h3 {
    text-align: center;
    padding: 80px 0 48px 0;
}

.history-card-content>p {
    padding: 0 120px;
    text-align: center;
}

span {
    z-index: 2;
    text-align: center;
}



.secondary-card .button-row,
.history-card-content .button-row {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 200px 120px;
    height: 50px;
}

.secondary-card .button,
.history-card-content .button {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px 40px;
    align-items: center;
    position: relative;
    background-color: var(--fidil-orange);
    grid-column: 2;

}

.button .red {
    height: 100%;
    grid-column: 2 / span 1;
    background: var(--fidil-light-red);
    width: 100%;
    position: absolute;
    z-index: 1;

}

.button:hover>.red {
    grid-column: 1/ span 2;
}

.button-row a {
    text-decoration: none;
}



.button p {
    grid-column: 1/span 1;
    color: var(--fidil-white);
    font-family: century-gothic;
    margin: 0;
    z-index: 2;
    text-align: center;
}

.button img {
    grid-column: 2 / span 1;
    z-index: 2;
}

/* MODAL STYLES */
.modal-header .close {
    position: absolute;
    right: 24px;
    top: 12px;
}

.modal-header h3 {
    margin: 40px auto;
}

.modal-header {
    border: none;
    padding: 0;
}

.modal-footer {
    border: none;
}

.modal-content {
    text-align: center;
    border-radius: 0;
}

.modal-dialog {
    max-width: 1000px;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    margin: 40px 240px;
    padding: 0;
}

.modal-body {
    margin: 40px 140px;
    padding: 0;
}

.modal-footer a {
    text-transform: uppercase;
    font-family: century-gothic;
    font-weight: bold;
    color: var(--fidil-light-blue);
}

.modal-footer a:hover {

    color: var(--fidil-light-red);
    text-decoration: none;
}


/* TABLET STYLES */

@media only screen and (max-width: 1366px) {

    header,
    main,
    footer {
        display: grid;
        grid-template-columns: 1fr 788px 1fr;
    }


    .card {
        width: 386px;
        margin-top: 32px;
    }

    .secondary-card-container {
        width: 788px;
    }

    .secondary-card {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 96px 580px 50px;
        margin-bottom: 48px;
    }

    .secondary-card img {
        position: relative;
        height: 100%;
        grid-row: 1;
        grid-column: 1;
    }

    .secondary-card h3 {
        grid-row: 2;
        grid-column: 1;
        margin: auto auto 0 auto;
        padding: 0;
    }

    .secondary-card>p {
        grid-row: 3;
        grid-column: 1;
        padding: 0 100px;
        margin: auto;

    }

    .secondary-card .button-row {
        grid-row: 4;
        grid-column: 1;
    }


    .button-row p {
        grid-row: 1;

    }

    .history-card {
        grid-template-columns: 1fr;
    }

    .history-card-images {
        grid-column: 1;
        grid-template-rows: 1fr;
        grid-row: 1;
    }

    .history-card-content {
        grid-row: 2;
        margin-bottom: 48px;

    }

    .history-card h3 {
        padding: 48px 0 32px 0;
    }

    .secondary-image {
        display: none;
    }

    .primary-image {}

    footer {}
}